<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxyzI3EO0P2g49uud8rhLXxeMLykWzOC0</string>
	<key>GCM_SENDER_ID</key>
	<string>991834380318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BookmarkDevelopment</string>
	<key>PROJECT_ID</key>
	<string>tododev-39890</string>
	<key>STORAGE_BUCKET</key>
	<string>tododev-39890.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991834380318:ios:08765e32cda26d0f6bf60f</string>
</dict>
</plist>